@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Poupágua</h1>
    <p class="lead">Poupágua é um sistema de gerenciamento de água para prédio com compartilhamento de água.</p>
    <p> @Html.ActionLink("Cadastre-se", "CreateUser") </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Comece a economizar</h2>
        <p>
            Popágua oferece um cadastro de metas de economias individuais e metas para o prédio, permitindo que ao final
            do mês cada pessoa veja se conseguiu bater a meta.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Saiba o valor da próxima conta</h2>
        <p>
            Você pode obter uma estimativa de valor da sua próxima conta de água a partir do cadastro de contas de águas
            anteriores com seus respectivos preços de tarifa por mil litros e esgoto.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Consulte a média de uso mensal de seu apartamento</h2>
        <p>
            Poupágua estima sua média de uso a partir do cadastro de moradores do prédio, analisando a quantidade de pessoas
            por apartamento e tempo médio de estadia em casa de cada um.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Tenha mais controle dos gastos</h2>
        <p>
            É oferecido recursos adicionais ao síndico do prédio que permite gerar um relatório contendo informações de uso
            de todos os apartamento em determinado mês.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>